.gazua_emphasize {
  font-family: "Noto Sans KR", "Roboto", sans-serif;
  background: rgba(255, 0, 0, 0.15);
}

.gazua_emphasize:hover {
  background: rgba(255, 0, 0, 0.25);
}

.gazua_emphasize > .gazua_emphasize_num {
  text-align: left;
}

.gazua_emphasize > .gazua_emphasize_name {
  text-align: left;
  font-weight: bold;
}

.gazua_emphasize > .gazua_emphasize_gap {
  text-align: center;
  font-weight: bold;
  color: #d24f45;
}

.gazua_emphasize > .gazua_emphasize_time {
  text-align: right;
  font-size: 0.8em;
}

.gazua_emphasize > .gazua_emphasize_trade_price {
  text-align: right;
  padding-right: 15px;
  font-size: 11px;
}
