html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  font-family: "Noto Sans KR", sans-serif;
  padding: 10px;
}

.button_title {
  margin-bottom: 3px;
  font-size: 18px;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  margin: 0;
  gap: 5px;
}

.button_container > button {
  width: 50px;
  height: 30px;

  text-align: center;
  background-color: #ffffff;

  border-radius: 3px;
  border: 1px solid #c0c0c0;
}

.button_container > button:hover {
  background-color: #f4f5f7;
}

.button_container > button.selected {
  background-color: #003597;
  color: #ffffff;
}
